<nav class="mt-5 flex-1 px-2 space-y-2">
  {{#each navigation}}
    {{#if current}}
      <div class="bg-gray-900 text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        {{ title }}
      </div>
    {{else}}
      <a href="{{ link }}" class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md">
        {{ title }}
      </a>
    {{/if}}
  {{/each}}
</nav>
